[Unit]
Description=Miscellaneous settings for X11
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xset -b
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr
Type=oneshot
RemainAfterExit=false
