[Unit]
Description=Compositor for X11
PartOf=graphical-session.target

[Service]
ExecStartPre=%h/.config/i3/bin/picom-configure
ExecStart=/usr/bin/picom --config ${XDG_RUNTIME_DIR}/i3/picom.conf
ExecReload=%h/.config/i3/bin/picom-configure
Restart=on-failure
