[Unit]
Description=Status bar for i3
PartOf=graphical-session.target

[Service]
Type=notify
NotifyAccess=all
WatchdogSignal=SIGTERM
ExecStart=%h/.config/i3/bin/polybar
ExecStop=%h/.nix-profile/bin/polybar-msg cmd quit
Restart=on-failure
