[Unit]
Description=Time-based display color temperature adjustment
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift -l manual:lon=2.35:lat=48.87 -t 6500:3900
Restart=on-failure
