[Unit]
Description=Spotify playing daemon
Documentation=https://github.com/Spotifyd/spotifyd
PartOf=graphical-session.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.nix-profile/bin/spotifyd --no-daemon
ProtectHome=tmpfs
BindReadOnlyPaths=%h/.config/spotifyd
BindReadOnlyPaths=%h/.nix-profile
BindPaths=%h/.cache/spotifyd
BindPaths=%t/bus
BindPaths=%t/pulse
PrivateTmp=true
PrivateDevices=true
PrivatePIDs=true
Restart=on-failure
RestartSec=12
