[Unit]
Description=Spotify Player Daemon
PartOf=graphical-session.target
PartOf=resume.target
After=pipewire-pulse.socket
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.nix-profile/bin/spotify_player --daemon
Type=forking
ProtectHome=tmpfs
BindReadOnlyPaths=%h/.config/spotify-player
BindReadOnlyPaths=%h/.nix-profile
BindPaths=%h/.cache/spotify-player
BindPaths=%t/bus
BindPaths=%t/pulse
PrivateTmp=true
PrivateDevices=true
Restart=on-failure
RestartSec=12
TimeoutStopSec=3
