[Unit]
Description=Display notifications when receiving new mails
PartOf=graphical-session.target
ConditionPathExists=%h/.thunderbird/notify.yaml

[Service]
ExecStart=%h/.config/i3/bin/thunderbird-notify %h/.thunderbird/notify.yaml
Restart=on-failure
