[Unit]
Description=Weather updater
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/mkdir -p %t/i3
ExecStart=%h/.config/i3/bin/weather
Type=oneshot
RemainAfterExit=false
Restart=on-failure
RestartSec=3s
