[Unit]
Description=X session
BindsTo=graphical-session.target
Wants=autorandr.service
Wants=dunst.socket
Wants=easyeffects.service
Wants=inputplug.service
Wants=picom.service
Wants=policykit-agent.service
Wants=pipewire-pulse.socket
Wants=redshift.service
Wants=ssh-agent.service
Wants=xiccd.service
Wants=xsettingsd.service
Wants=xss-lock.service
