[Unit]
Description=Screen dimmer

[Service]
ExecStart=%h/.config/i3/bin/xss-dimmer --delay=%i \
                                       --font "Monkey Island 1991" \
                                       --background=%h/.cache/i3/current-wallpaper.png
