[Unit]
Description=Proxy between org.freedesktop.ScreenSaver and XSS
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.ScreenSaver
ExecStart=%h/.nix-profile/bin/xssproxy -v -i firefox -i *
Restart=on-failure
